.user-card {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
  width: 100%; 
  max-width: 100%;
  margin: 20px 10px
}

.card-image {
  width: 300px; 
  height: auto; 
  object-fit: cover;
  border-right: 1px solid #eee; 
}

.edit-fields {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
}

.card-actions {
  display: flex;
  justify-content: flex-end; 
  gap: 10px;
  margin-top: auto; 
}

@media (max-width: 768px) {
  .user-card {
    flex-direction: column;
  }

  .card-image {
    width: 100%;
    height: 200px;
    border-right: none;
    border-bottom: 1px solid #eee;
  }

  .card-actions {
    justify-content: space-between;
  }
}
// старый
/* .user-card {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
}

.card-image {
  width: 300px;
  height: auto;
  object-fit: cover;
  border-right: 1px solid #eee;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.edit-fields {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: auto;
}

@media (max-width: 768px) {
  .user-card {
    flex-direction: column;
  }

  .card-image {
    width: 100%;
    height: 200px;
    border-right: none;
    border-bottom: 1px solid #eee;
  }

  .card-actions {
    justify-content: space-between;
  }
} */ */
